---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ProjectCard from '../components/ProjectCard.astro';
---

<Layout title="About - Sharpeur" description="About me">
    <div class="app-container">
        <Header currentPage="about" />
        
        <main>
            <div class="main-content">
                <p>Nothing Yet</p>
            </div>
            
        </main>

        <Footer author="Sharpeur" />
    </div>
</Layout>

<style>
    .app-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex: 1;
        padding: 4rem 0;
    }

    .main-content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main-content p {
        font-size: 1.2rem;
        color: var(--text-muted);
        max-width: 600px;
        margin: 0 auto;
    }

</style>