---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SocialLinks from '../components/SocialLinks.astro';
---

<Layout title="Sharpeur - C# and NodeJS Developer">
    <div class="app-container">
        <Header currentPage="home" />
        
        <main>
            <div class="hero">
                <a href="./about" style="text-decoration: none;"><h1>Sharpeur</h1></a>
                <p>Unity, C# and NodeJS Developer.</p>
                <SocialLinks
                    twitter="https://twitter.com/SharpeurNes"
                    youtube="http://youtube.com/SharpeurNes"
                    steam="https://steamcommunity.com/id/sharpeurnes",
                    mal="https://myanimelist.net/profile/SharpeurNes",
                    discord="https://discord.gg/T5zCkkUV"
                    email="sharpeurnes@gmail.com"
                />
            </div>
        </main>

        <Footer author="Sharpeur" />
    </div>
</Layout>


<style>
    
    .app-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex: 1;
        display: flex;
        align-items: center;
    }
</style>